# Load db

In [1]:
%load_ext sql
%config SqlMagic.style = 'PLAIN_COLUMNS'
%sql sqlite:///chinook.db

# Practice

## Level 1: Beginner - Basic SELECT, WHERE, ORDER BY, LIMIT

### 1.1 Get all information about all tracks.

In [ ]:
%%sql

select * from Track
limit 10

### 1.2 List the names of all artists.

In [ ]:
%%sql

select * from Artist
limit 10

### 1.3 Find all customers from Canada.

In [ ]:
%%sql

select * from Customer 
where Country = 'Canada'
limit 5

### 1.4 List the first 10 tracks, showing their Name and UnitPrice.

In [ ]:
%%sql

SELECT Name, UnitPrice FROM Track LIMIT 10;

### 1.5 Find all employees who are 'Sales Support Agent' and order them by their LastName.

In [ ]:
%%sql

SELECT * FROM Employee
where Title = 'Sales Support Agent'
order by LastName
LIMIT 10

### 1.6. Get the unique list of cities where customers are located.

In [ ]:
%%sql

SELECT distinct City from Customer
LIMIT 10;

### 1.7. Find all invoices with a total greater than $10.00.

In [5]:
%%sql

SELECT * from Invoice
where Total>10.00
LIMIT 10

 * sqlite:///chinook.db
Done.

[(5, 23, '2009-01-11 00:00:00', '69 Salem Street', 'Boston', 'MA', 'USA', '2113', 13.86),
 (12, 2, '2009-02-11 00:00:00', 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', 13.86),
 (19, 40, '2009-03-14 00:00:00', '8, Rue Hanovre', 'Paris', None, 'France', '75002', 13.86),
 (26, 19, '2009-04-14 00:00:00', '1 Infinite Loop', 'Cupertino', 'CA', 'USA', '95014', 13.86),
 (33, 57, '2009-05-15 00:00:00', 'Calle Lira, 198', 'Santiago', None, 'Chile', None, 13.86),
 (40, 36, '2009-06-15 00:00:00', 'Tauentzienstraße 8', 'Berlin', None, 'Germany', '10789', 13.86),
 (47, 15, '2009-07-16 00:00:00', '700 W Pender Street', 'Vancouver', 'BC', 'Canada', 'V6C 1G8', 13.86),
 (54, 53, '2009-08-16 00:00:00', '113 Lupus St', 'London', None, 'United Kingdom', 'SW1V 3EN', 13.86),
 (61, 32, '2009-09-16 00:00:00', '696 Osborne Street', 'Winnipeg', 'MB', 'Canada', 'R3L 2B9', 13.86),
 (68, 11, '2009-10-17 00:00:00', 'Av. Paulista, 2022', 'São Paulo', 'SP', 'Brazil', '01310-200', 13.86)]

## Level 2: Intermediate - AGGREGATE FUNCTIONS, GROUP BY, HAVING, JOINS

### 2.1. Count the total number of tracks.

In [7]:
%%sql

SELECT count(*) from Track

 * sqlite:///chinook.db
Done.

[(3503,)]

### 2.2. Find the average UnitPrice of all tracks.

In [9]:
%%sql

SELECT avg(UnitPrice) from Track

 * sqlite:///chinook.db
Done.

[(1.0508050242649156,)]

### 2.3. What is the total sales amount from the Invoice table?

In [10]:
%%sql

SELECT sum(Total) from Invoice

 * sqlite:///chinook.db
Done.

[(2328.6,)]